.mainContainer{
    background-color: mediumpurple;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: medium;
}
.thirdBigContainer{
    padding: 0% -10%;
}
.logo{
    color: white;
    text-shadow: 1px 1px 2px rgb(219, 246, 95), 0 0 25px rgb(4, 4, 4), 0 0 5px rgb(50, 50, 251);
    font-size: 16px;
    font-weight: 700;

}
.topNav{
    height: 5%;
    display: flex;
    width: 100%;
    padding: 1% 2%;
}
.ptag{
    width: 10%;
    text-align: start;
}
.topNav nav{
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: flex-end;



}
.topNav nav li{
    list-style: none;
    padding: 1% 2%;

}

.topNav nav li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black;

}
.login{
    display: flex;
    text-align: center;
    padding: 0% 3% 4%;
    justify-content: space-between;
    width: 5%;
    font-weight: 500;
    font-size: medium;
}
.getDemo{
    border: 2px solid blue;
    color: blue;
    font-size: 14px;
    height: 50%;
    text-align: center;
    padding: -1% 0%;

}
.login img{
    width: 40%;
    height: 60%;
    padding-top: 20%;
}

.findTheRightPartners{
    text-align: center;
    color: white;
    font-size: medium;
}

.join{
    text-align: center;
    color: white;
    font-size: small;

}
.register{
    text-align: center;
    align-content: center;
    box-shadow: black;

}

.second-Container{
    background-color: dodgerblue;

}
.List{
    text-align: center;
    font-size: large;
}
.third-Container{

}
.handshake img{
    position: absolute;
    top: 2%;
    left: 5%;
    height: 10%
}
.climbImg img{
    position: absolute;
    top: 12%;
    right: 7%;
    height: 8%;
    width: 20%;


}


.fourthContainer{
    display: flex;
    justify-content: center;
}
.footer{
    background-color: black;
    color: ghostwhite;

}
.footerOne{
    display: flex;
    justify-content: space-evenly;
    font-size: small ;
}
.footerOne h1{
    font-size: large;

}
.thirdBigContainer{
    background-color: ghostwhite;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 50% 50%;

}
.images img{
    height: 60%;
    padding-top: 20%;

}

.footerTwo{
    display: flex;
    justify-content: space-evenly;
    font-size: small;
}




