.board{
    border: solid purple;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 40%;
    height: 70vh;

}

#playerOne{
position: relative;

    background-color: mediumseagreen;
    color: white;
    font-style: italic;
    padding: 10% 10% 0% 10%;

}

.Main{
    background-image: linear-gradient(to right, mediumpurple, coral, oldlace );
    display: inline-grid;
    grid-template-columns: auto auto;
}
.video{
    position: relative;

    padding-right: 90%;
    padding-bottom: 10%;
}

.border{
    background: navajowhite;
    padding: 20px;
    border: 5px solid white;
    justify-content: space-between;
    font-size: xxx-large;
}


.border:hover{
    background: hotpink;
    padding: 20px;
    border: 5px solid white;
    transform: scale(1.1)

}

.buttonBorder{
    display: inline-grid;
    grid-template-rows: auto auto;
    border: solid purple;
    padding-top: 30%;
    background-image: linear-gradient(to right, mediumpurple, ivory, cornflowerblue );
    border-radius: 10%;
}